.text{
    padding-left: 735px;
    font-family: TT Commons;
    font-style: normal;
}
.input_text{
    display:block;
    margin:0 auto;
    width: 400px;
    height: 30px;
    color: #5DB6DE;
    font-size: 16px;
}

.but3{
    padding-top: 30px;
    width: 300px;
    padding-left: 800px;
}

.but4{
    width: 300px;
    padding-left: 800px;
    padding-top: 20px;
    color: ghostwhite;
}