.main_block {
  position: relative;
}

.title {
  position: absolute;
  width: 743px;
  height: 166px;
  left: 550px;
  top: 250px;

  font-family: TT Commons;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  color: #5db6de;
}

.subtitle {
  position: absolute;
  left: 620px;
  top: 480px;
  font-size: 20px;
  font-family: TT Commons;
  font-style: normal;
  text-align: center;

  color: #000000;
}

.bg_main {
  width: 100%;
  height: 970px;
}

.but1 {
  width: 411px;
  background-color: transparent;
  position: absolute;
  height: 76px;
  width: 411px;
  left: 690px;
  top: 590px;
  border: 0px;
  text-align: center;
}

.but2 {
  width: 411px;
  background-color: transparent;
  position: absolute;
  height: 76px;
  width: 411px;
  left: 690px;
  top: 680px;
  border: 0px;
  text-align: center;
}
